.b-icon{
    position: relative;
    left: 38%;
}
body{
    background-image: url("../assets/background28.jpg");
}
.sing-label{
    padding-left: 18%;
    padding-right: 18%;
}
.info{
    margin-left: 50px;
    margin-top: 50px;
}
.btn{
    padding: 5px;
}
.sign-form{
    margin: 5px 40px;
    position: absolute;
    right: 5%;
    top: 25%;
}

.sing-label-2 {
    width: 100%;
    padding-left: 10px;
}

.modal-btn{
    display: inline-block;
    width: 49%;
}
.invisible{
    display: none;
}
.modal-body{
    background-image: url("../assets/background28.jpg");
    border: #1d2124 5px;
}